/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', sans-serif;
    line-height: 1.6;
    background-color: #003366;
    color: #070B5A;
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01031A;
    color: white;
    padding: 20px;
    height: 75px;
}

.logo-nombre {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    margin-left: 25px;
}

.logo-nombre .logo {
    height: 62px;
}

.logo-nombre .nombre {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Mayor espacio entre los elementos principales */
    margin-right: 75px;
    margin-top: 25px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px; /* Reducción de padding para menos separación */
    transition: text-shadow 0.3s ease;
}

nav ul li a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

/* Menú desplegable */
nav ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #01031A;
    padding: 5px 0; /* Reducir padding para menos espacio */
    border-radius: 8px;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.dropdown-menu li {
    margin: 0; /* Eliminar margen para reducir espacio entre opciones */
}

.dropdown-menu li a {
    color: white;
    padding: 10px 15px; /* Ajustar padding de los elementos secundarios */
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #01031A;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

/* Sección Hero */
.hero {
    background-color: #01031A;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

/* Slider de Cards */
.cards {
    margin-bottom: 50px;
}

.cards h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    color: white;
}

#carrusel-caja {
    -moz-animation: automatizacion 18s infinite linear;
    -o-animation: automatizacion 18s infinite linear;
    -webkit-animation: automatizacion 18s infinite linear;
    animation: automatizacion 18s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 100%;
    width: 400%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-color: white;
    border-width: 2px;
}
#carrusel-contenido {
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    text-align: left;
}

.carrusel-elemento {
    float: left;
    width: 25%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 5px solid white;
}
.carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carrusel-elemento img {
    width: 30%;
    object-fit: cover;
}

.card-info {
    padding: 15px;
    width: 70%;
    text-align: center;
}

.carrusel-elemento .line {
    width: 3px; /* Ancho de la línea vertical */
    background-color: #01031A; /* Color de la línea */
    height: 100%; /* La línea ocupará toda la altura de la card */
    margin: 0 5px; /* Espacio entre la línea y los elementos */
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

/* Pie de página */
footer {
    background-color: #01031A;
    color: white;
    text-align: center;
    padding: 10px 0;
}
